body{
    background:#121212;
    overflow: hidden;
}

.login-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.login-form{
    padding: 20px 40px 20px 40px;
    background:#1E1E1E;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.form-image{
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}

.form-title{
    color: #FF9800;
    font-weight: bolder;
}

.form-btn-link{
    color: #555555;
}

.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: #272727;
    border: none;
    border-radius: 30px;
    padding:20px 5px;
}

.btnSubmit:hover{
    background: #FF9800;
}

.form-label{
    color: #555555;;
}

.valSpan{
    color: orangered;
}
    