@page
@model Pjfm.WebClient.Pages.Account.ConfirmResetPassword

@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="row justify-content-center align-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 login-form">
            <div class="form-image">
                <img style="max-width: 300px; margin-bottom: 2vh" src="~/images/pjfm.png" />
            </div>
            <div class="row justify-content-center">
                <div style="color: orange; margin-bottom: 20px">
                    Voor uw nieuwe wachtwoord in
                </div>
            </div>
            
            
            <form method="post">
                <input type="hidden" asp-for="Form.Code" value="@Model.Form.Code"/>
                <input type="hidden" asp-for="Form.UserId" value="@Model.Form.UserId"/>

                <div class="form-group">
                    <label class="form-label" for="passwordForm">Wachtwoord</label>
                    <span class="valSpan" asp-validation-for="Form.Password"></span>
                    <input type="password" class="form-control" id="passwordForm" placeholder="Uw wachtwoord *" asp-for="Form.Password"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirmPasswordForm">Bevestig Password</label>
                    <span class="valSpan" asp-validation-for="Form.ConfirmPassword"></span>
                    <input type="password" class="form-control" id="confirmPasswordForm" placeholder="uw bebestigde watchtwoord *" asp-for="Form.ConfirmPassword"/>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <input type="submit" class="btnSubmit" value="Wachtwoord aanpassen"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>