@page
@model Pjfm.WebClient.Pages.Account.ForgetPassword

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="row justify-content-center align-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 login-form">
            <div class="form-image">
                <img style="max-width: 300px; margin-bottom: 2vh" src="~/images/pjfm.png" />
            </div>
            @if (ViewData["EmailSend"] as bool? ?? false)
            {
                <div class="row justify-content-center">
                    <div style="color: orange; margin-bottom: 20px">
                        We hebben een email naar u verzonden met daarin verdere instructies voor het het opnieuw instellen van uw wachtwoord
                    </div>
                </div>
            }
            else
            {
                <div class="row justify-content-center">
                    <div style="color: orange; margin-bottom: 20px">
                        Na het invoeren van uw e-mailaddress onvangt u een email met hierin verdere instructies voor het 
                        het aanmaken van een nieuw wachtwoord.
                    </div>
                </div>
            
                <form method="post">
                    <div class="form-group">
                        <label class="form-label" for="emailForm">E-mailaddress</label>
                        <span class="valSpan" asp-validation-for="Form.EmailAddress"></span>
                        <input type="email" class="form-control" id="emailForm" placeholder="Uw e-mailaddress *" asp-for="Form.EmailAddress"/>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <input type="submit" class="btnSubmit" value="Versturen"/>
                        </div>
                    </div>
                </form>   
            }
        </div>
    </div>
</div>
